fastapi[standard]==0.115.8
pdf2image==1.17.0
pytesseract==0.3.13
openai==1.63.2
opencv-python-headless==4.11.0.86
requests==2.32.3
nltk==3.9.1
evaluate==0.4.3
rouge_score==0.1.2
absl-py==2.1.0
bert-score==0.3.13